*.o
*.so
*.zls
*.log
/*.i
/.deps
/Makefile
/Makefile.in
/a.out
/aclocal.m4
/autom4te.cache
/config.h
/config.log
/config.status
/configure
/core
/depcomp
/install-sh
/missing
/prelude.zls
/stamp-h1
/zl
/zlc
/abi_info.zlh
